<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Loop\MiniTracker\Api\Data\MiniTrackerItemInterface"
        type="Loop\MiniTracker\Model\MiniTrackerItem" />
    <preference for="Loop\MiniTracker\Api\MiniTrackerRepositoryInterface"
        type="Loop\MiniTracker\Model\MiniTrackerRepository" />
    <preference for="Loop\MiniTracker\Api\Data\MiniTrackerInterface"
        type="Loop\MiniTracker\Model\MiniTracker" />

</config>